/*
lol hurry up and update lol github is so damn slow 
*/



html, body {
    margin: 0;
}

html, body {
    margin: 0;
}

body {
  
  
    color: #B0C2D4; 
    background: #041D37;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    text-shadow: 0px 1px 0 #000;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-image: url("https://github.com/BorksGreatMemes/Portfolio-/blob/master/Background.png?raw=true");
  
   
    
}

#resume {
    position: relative;
    width: 800px;
    margin: 50px auto;
    padding: 30px;
    background: #2B4C6F;
    border: 4px solid #010E1B;
    box-shadow: 0 0 420px #000;

}

h3 {
    border-bottom: 2px solid #010E1B;
    font-family: "Josefin Sans";
    font-size: 20px;
}

h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

h6 {
	margin: 0;
	padding: 0;
	font-family: "Josefin Sans";
  font-size: 30px;
}

ul {
    list-style: none;
}

li {
    margin: 2px 0 5px 0;
}

ul, ol {
    padding: 0;
}

section {
    margin-left: 150px;
    margin-right: 50px;
}

#AM {
    margin-left: 0px;
    margin-right: 50px;
}

#WorkExp {
	margin-left: 0px;
	margin-right: 50px;
}

#LCI {
	margin-left: 185px;
	margin-right: 235px;
}

#MidAl {
  margin-left: 190px;
  color: #010E1B;
  
}

img#BackGroundIMG {
	width: 100px; 
	height: 100px;

}

img#headshot {
    float: center;
    height: 150px;
    margin-left: 285px;
    margin-bottom: 0px;
    padding: 7px;
    width: 220px;
    height: 220px;
    /*border: 6px solid #0B2745;*/
}

img#headshot2 {
    float: center;
    height: 150px;
    margin-left: 280px;
    margin-bottom: 10px;
    padding: 1px;
    width: 240px;
    height: 110px;
    /*border: 6px solid #0B2745;*/
}

address {
    float: right;
}

.meter {
    display: inline-block;
    width: 100px;
    height: 7px;
    border: 1px solid #0B2745;
    margin-right: 5px;
}
.meter span {
    display: block;
    height: 7px;
    background: #fff;
}
